/********

PHB STYLING

********/

.charsheet h1,
.charsheet h2,
.charsheet h3,
.charsheet h4 {
    margin-top: .2em;
    margin-bottom: .2em;
    font-family: MrJeeves;
    font-weight: 800;
    color: #58180D;
}

.charsheet h2 {
    font-size: .705cm;
}

.charsheet h3 {
    font-size: .529cm;
    border-bottom: 2px solid #c9ad6a
}

.charsheet h4 {
    margin-bottom: 0;
    font-size: .458cm
}


/********

GRID

********/

.sheet-main {
    display: grid;
    grid-template-columns: 275px 280px 285px;
    grid-template-rows: 50px auto auto auto auto auto auto auto auto;
    grid-gap: 4px;
    grid-template-areas: "header header header"
        "common     defense     features"
        "abilities  defense     features"
        "abilities  standard    features"
        "effects    standard    competencies"
        "effects    reaction    worn"
        "mve        backpack    worn"
        "minor      backpack    worn"
        "minor      money       worn";
    min-width: 8.5in;
    max-width: 11in;
}


.sheet-section {
    padding: 5px;
    border-style: solid;
    background-color: #EEE5CE;
}

.sheet-flex-col {
    display: flex;
    flex-flow: row wrap;
}

.sheet-flex-center {
    align-items: center;
    justify-content: center;
}

.sheet-header {
    grid-area: header;
    flex-direction: column;
}

.sheet-common {
    grid-area: common;
}

.sheet-common label {
    text-align: right;
}


.sheet-abilities {
    grid-area: abilities;
}

.sheet-competencies {
    grid-area: competencies;
}

.sheet-defense {
    grid-area: defense;
    
}

.sheet-effects {
    grid-area: effects;
}

.sheet-standard {
    grid-area: standard;
}

.sheet-move {
    grid-area: mve;
}

.sheet-minor {
    grid-area: minor;
}

.sheet-reaction {
    grid-area: reaction;
}

.sheet-features {
    grid-area: features;
}

.sheet-worn {
    grid-area: worn;
}

.sheet-backpack {
    grid-area: backpack;
}

.sheet-money {
    grid-area: money;
}


/********
 
DROPDOWN AREAS
 
********/

 input.sheet-arrow:not(:checked)~div.sheet-body {
    display: none;
}

.sheet-body {
    position: relative;
    background: #faf7ea;
    -webkit-box-shadow: 0px 1px 2px 0 rgba(34, 36, 38, 0.15);
    box-shadow: 0px 1px 2px 0 rgba(34, 36, 38, 0.15);
    margin: .5rem 0em;
    padding: 1em 1em;
    border-radius: 0.28571429rem;
    border: 1px solid rgba(34, 36, 38, 0.15);
    max-width: 480px;
}


/********
 
INPUT FIELDS
 
********/

textarea {
    width: 97%;
    resize: vertical;
    margin-right: 0;
    height: 3.5em;
    min-height: 1em;
}


textarea, 
input { 
	outline: none;
	box-shadow: none;
}

textarea:not(:focus){
    background: #faf7ea;
    font-weight: bold;
}



input[type=text]:not(:focus){
    background: #faf7ea;
    font-weight: bold;
}

input[type=number]:not(:focus){
    background: #faf7ea;
}

.sheet-diceInput {
    width: 140px;
}


/******

LABELS

******/


label {
    vertical-align: middle;
}

select {
    background-color: #faf7ea;
}

label.sheet-small{
    display: inline;
    font-size: 1em;
    text-align: right;
}


.sheet-inlineLabel {
    display: inline;
}


/******

COMMON AND HEADER

******/

.sheet-header h1 {
    width: 55%;
    display: inline-block;
}

.sheet-header input[type=text] {
    background-color: inherit;
    border: none;
    text-align: right;
    float: right;
    font-size: 24px;
    width: 45%;
}


.sheet-common input {
    margin-bottom: 7px;
}

.sheet-common input[type=text].sheet-gender {
    width: 60px;
}

.sheet-common input[type=text].sheet-race {
    width: 175px;
}

.sheet-common input[type=text].sheet-class {
    width: 220px;
}

.sheet-common input[type=number] {
    width: 40px;
}

.sheet-common input[type=text].sheet-bio {
    width: 49%;
}




/******

ABILITIES
- Attributes & Skills

******/


button[type=roll].sheet-skillcheckroll {
    border: none;
    background-color: transparent;
    background-image: none;
    font-size: 18.2px;
    box-shadow: none;
    text-shadow: none;
    height: 28px;
    margin: 0px;
    padding: 0px;
}


.sheet-Training {
    width: 100px;
}

/******

EFFECTS
- Bonus Dice, Power Points, Persistent Effects

******/


input.sheet-speed {
    width: 97%;
}

div.sheet-bonusdice,
div.sheet-powerpoints {
    width: 47%;
    display:inline-block;
}

div.sheet-bonusdice input[type=text] {
    width: 100%;
}

button[type=roll].sheet-bonusdice-roll {
    border: inherit;
    background-color: transparent;
    background-image: none;
    font-size: .529cm;
    border-bottom: 2px solid #c9ad6a;
    margin: 4px 0;
    font-family: MrJeeves;
    font-weight: 800;
    color: #58180D;
    height: 28px;
    padding: 0px;
    border-radius: inherit;
}

/******

POWERS 
- Standard
- Mve
- Minor
- Reaction

******/



.sheet-Usage {
    width: 100px;
}

.sheet-Action {
    width: 150px;
}

.sheet-AttSelect select {
    width: 100px;
}

.sheet-DefSelect select {
    width: 85px;
}


select.sheet-AccesorySelect {
    width: 120px;
}

.sheet-DamageRoll,
.sheet-AttackRoll {
    font-size: 140%;
}



button[type=roll].sheet-combatroll {
    border: none;
    background-color: transparent;
    background-image: none;
    height: 28px;
    margin: 0px;
    padding: 0px;
    font-size: 18.2px;
}


/******

DEFENSE

******/

label.sheet-hp {
    margin-bottom: 7px;
}

.sheet-defense label.sheet-small {
    font-size: 1em;
    padding: 0;
}

label.sheet-miscbonus{
    font-size: 1em;
    margin-bottom: 5px;
}

label.sheet-defense{
    width: 80%;
    display: inline-block;
    margin: 5px 0 0;
}


div.sheet-defense input[type=checkbox] {
    float: right;
    margin-top: 10px;
}

/******

ITEMS
- Backpack
- Money
- Worn

******/


label.sheet-hicrit{
    margin-left: 10px;
}

label.sheet-brutal{
    padding-right: 0;
    /* padding-left: 10px; */
}

.sheet-AttSelect-AC select {
    width: 160px;
}


.sheet-weapon, 
.sheet-implement
.sheet-armor {
    float: right;
}

.sheet-wepDamSelect {
    width: 70px;
    margin-bottom: 0;
}

.sheet-Item {
    width: 200px;
}

.sheet-repeatingItemsLabels{
    font-weight: bold;
}




span.sheet-right{
    float: right;
    margin-right: 18px;
}

div.sheet-right {
    float: right;
}




.sheet-Item_repeat {
    width: 190px;
}

input.sheet-Item_other {
    width: 200px;
}

label.sheet-Item_other {
    margin-bottom: 1px;
    display: block;
}


input.sheet-space:not(:focus) {
    font-weight: inherit;
    font-size: inherit;
    border: none;
    background: inherit;
    color: inherit;
    padding: 0;
    height: 28px;
}

/******

FEATURES & COMPETENCIES

******/

.sheet-features input[type=text] {
    width: 94%;
}

.sheet-competencies input[type=text] {
    width: 100%;
}

/*****

ROLL TEMPLATES

*****/

.sheet-rolltemplate-attack table {
    width: 189px;
    padding: 2px;
    border: 1px solid;
    background-color: #ffffff;
}

.sheet-rolltemplate-attack th {
    color: rgb(126, 45, 64);
    padding-left: 5px;
    line-height: 1.6em;
    font-size: 1.2em;
    text-align: left;
    font-family: "Times New Roman", Times, serif;
    font-variant: small-caps;
}

.sheet-rolltemplate-attack .sheet-subheader {
    color: #000;
    font-size: 1em;
    font-style: italic;
}

.sheet-rolltemplate-attack .sheet-arrow-right {
    border-top: 3px solid transparent;
    border-bottom: 3px solid transparent;
    border-left: 180px solid rgb(126, 45, 64);
}

.sheet-rolltemplate-attack .sheet-tcat {
    font-style: italic;
}

.sheet-rolltemplate-attack td {
    padding-left: 5px;
}

.sheet-rolltemplate-attack .inlinerollresult {
    background-color: #ffffff;
    border: none;
}

.sheet-rolltemplate-attack .inlinerollresult.fullcrit {
    color: #3FB315;
    border: none;
}

.sheet-rolltemplate-attack .inlinerollresult.fullfail {
    color: #B31515;
    border: none;
}

/* damage */
.sheet-rolltemplate-attack,
.sheet-rolltemplate-damage table {
    width: 189px;
    padding: 2px;
    border: 1px solid;
    background-color: #ffffff;
}

.sheet-rolltemplate-damage th {
    color: rgb(126, 45, 64);
    padding-left: 5px;
    line-height: 1.6em;
    font-size: 1.2em;
    text-align: left;
    font-family: "Times New Roman", Times, serif;
    font-variant: small-caps;
}

.sheet-rolltemplate-damage .sheet-tcat {
    font-style: italic;
}

.sheet-rolltemplate-damage td {
    padding-left: 5px;
}

.sheet-rolltemplate-damage .inlinerollresult {
    background-color: #ffffff;
    border: none;
}

.sheet-rolltemplate-damage .inlinerollresult.importantroll {
    color: #4A57ED;
    border: none;
}

.sheet-rolltemplate-damage .inlinerollresult.fullcrit {
    color: #3FB315;
    border: none;
}

.sheet-rolltemplate-damage .inlinerollresult.fullfail {
    color: #B31515;
    border: none;
}

.sheet-rolltemplate-damage .inlinerollresult.importantroll {
    color: #4A57ED;
    border: none;
}

/* skillcheck */

.sheet-rolltemplate-skillcheck table {
    width: 189px;
    padding: 2px;
    border: 1px solid;
    background-color: #ffffff;
}

.sheet-rolltemplate-skillcheck th {
    color: rgb(126, 45, 64);
    padding-left: 5px;
    line-height: 1.6em;
    font-size: 1.2em;
    text-align: left;
    font-family: "Times New Roman", Times, serif;
    font-variant: small-caps;
}

.sheet-rolltemplate-skillcheck .sheet-subheader {
    color: #000;
    font-size: 1em;
    font-style: italic;
}

.sheet-rolltemplate-skillcheck .sheet-tcat {
    font-style: italic;
}

.sheet-rolltemplate-skillcheck td {
    padding-left: 5px;
}

.sheet-rolltemplate-skillcheck .sheet-arrow-right {
    border-top: 3px solid transparent;
    border-bottom: 3px solid transparent;
    border-left: 180px solid rgb(126, 45, 64);
}

.sheet-rolltemplate-skillcheck .inlinerollresult {
    background-color: #ffffff;
    border: none;
}

.sheet-rolltemplate-skillcheck .inlinerollresult.fullcrit {
    color: #3FB315;
    border: none;
}

.sheet-rolltemplate-skillcheck .inlinerollresult.fullfail {
    color: #B31515;
    border: none;
}

.sheet-rolltemplate-skillcheck .inlinerollresult.importantroll {
    color: #4A57ED;
    border: none;
}

/* Power Text */


.sheet-rolltemplate-powertext table {
    width: 189px;
    padding: 2px;
    border: 1px solid;
    background-color: #ffffff;
}

.sheet-rolltemplate-powertext th {
    color: rgb(126, 45, 64);
    padding-left: 5px;
    line-height: 1.6em;
    font-size: 1.2em;
    text-align: left;
    font-family: "Times New Roman", Times, serif;
    font-variant: small-caps;
}

.sheet-rolltemplate-powertext .sheet-subheader {
    color: #000;
    font-size: 1em;
    font-style: italic;
}

.sheet-rolltemplate-powertext .sheet-tcat {
    font-style: italic;
}

.sheet-rolltemplate-powertext td {
    padding-left: 5px;
}

.sheet-rolltemplate-powertext .sheet-arrow-right {
    border-top: 3px solid transparent;
    border-bottom: 3px solid transparent;
    border-left: 180px solid rgb(126, 45, 64);
}